body {
  margin: 0;
  text-align: center;
}

.container {
  @media (min-width: 1400px) {
    width: 1200px;
  }
  background-color: var(--primary-secondary);
  margin-left: auto;
  margin-right: auto;
}