//------100% height background
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.Container {
  flex-grow: 1;
}
//------/100% height background

.Container {
  @media (min-width: 1400px) {
    width: 1200px;
  }
  background-color: var(--primary-main);
  margin-left: auto;
  margin-right: auto;
  padding-left: 47px;
  padding-right: 47px;
}